body{
   background-color: palegoldenrod;
}


#divmain{
    width: 80%;
    margin: auto;
}

#divheader, #divfooter{
    width: 90%;
    margin: auto;
}

#divmap{
    width: 70%;
    height: 70%;
}

#divmenu{
    margin: 3% 0 3% 5%;
    border-right: 2px dotted midnightblue;
    display: inline-block;
    font-size: larger;
}

#divtext{
    width: 70%;
    display: inline-block;
}

p{
    padding-left: 10px;
    padding-right: 10px;
}
.ptitre{
    font-family: "Times New Roman",Georgia,Serif;
    font-size: 40px;
    color: midnightblue;
    text-align: center;
}

.pfooter{
    font-family: "Times New Roman",Georgia,Serif;
    font-size: 15px;
    color: grey;
    text-align: center;
}

.spanbtn{
    padding-left: 20%;
}